header{
    background-color: #6bebf4;
    padding: 20px;
    text-align: center;
    color: blue;
    margin: 20px;
}

.Projects{
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(42, 241, 175);
    padding: 20px;
    margin: 20px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(0, 128, 19);
}
nav{
    background-color: #508acb;
    padding: 10px;
    text-align: center;
    margin: 20px;
}
.About{
    background-color: #f29fec;
    padding: 20px;
    margin: 20px;
    border: solid 3px black;
}
p{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: grey;
}
h3{
    font-family: 'calibri', sans-serif;
    font-size: 25px;
    color: rgb(30, 32, 31);
}
ul{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(36, 30, 30);
}
